# Binaries and build artifacts
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Environment files
.env

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Dependency directories
vendor/

# Test coverage
coverage.out

# Swagger docs
docs/swagger.json 
